@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

body {
  margin: 0;
  font-family: "EB Garamond", regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  margin-top: 20px;
  text-align: center;
}

.grid {
  margin: auto;
  display: grid;
  grid-gap: 1px;
}

.box {
  display: inline-block;
  border: 1px solid #727272;
  height: 15px;
  width: 15px;
  margin-left: -1px;
  margin-bottom: -2px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  column-gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  text-align: center;
  margin: 20px;
  word-spacing: 10px;
}
